# Water Quality

In [5]:
# Done h-> KNN wala jo code niche h 
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder, StandardScaler

df = pd.read_csv('../Dataset/data_20221_cleaned.csv')

cols_to_drop = ['Well ID', 'S.No', 'STATE', 'DISTRICT', 'BLOCK', 'LOCATION', 'LATITUDE', 'LONGITUDE', 'Year', 'PO4', 'SiO2', 'TDS', 'U(ppb)']
df_clean = df.drop(columns=cols_to_drop)

# Convert all columns to numeric, coercing errors to NaN (Not a Number)
df_clean = df_clean.apply(pd.to_numeric, errors='coerce')

# Fill missing values with the median of each column
df_clean.fillna(df_clean.median(numeric_only=True), inplace=True)

conditions = [
    (df_clean['pH'] >= 6.5) & (df_clean['pH'] <= 8.5) &
    (df_clean['EC'] <= 1500) &
    (df_clean['TH'] <= 120) &
    (df_clean['NO3'] <= 10) &
    (df_clean['Na'] <= 200) &
    (df_clean['K'] <= 10) &
    (df_clean['F'] <= 1.5),
    (df_clean['pH'] < 6.5) | (df_clean['pH'] > 8.5) |
    (df_clean['EC'] > 1500) |
    (df_clean['TH'] > 120) |
    (df_clean['NO3'] > 10) |
    (df_clean['Na'] > 200) |
    (df_clean['K'] > 10) |
    (df_clean['F'] > 1.5)
]
choices = ['Good', 'Poor']
df_clean['Water_Quality'] = np.select(conditions, choices, default='Moderate')

label_encoder = LabelEncoder()
df_clean['Water_Quality'] = label_encoder.fit_transform(df_clean['Water_Quality'])

# Split the data into features and target label
X = df_clean.drop('Water_Quality', axis=1)
y = df_clean['Water_Quality']

# Standardize the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)
clf_multi_param = RandomForestClassifier(random_state=42)
clf_multi_param.fit(X_train, y_train)

# Evaluate the model
y_pred = clf_multi_param.predict(X_test)
accuracy_multi_param = accuracy_score(y_test, y_pred)
classification_rep_multi_param = classification_report(y_test, y_pred, target_names=label_encoder.classes_)

accuracy_multi_param, classification_rep_multi_param

# KNN

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder

df = pd.read_csv('../Dataset/data_20221_cleaned.csv')

# Drop unnecessary columns
cols_to_drop = ['Well ID', 'S.No', 'STATE', 'DISTRICT', 'BLOCK', 'LOCATION', 'Year', 'PO4', 'SiO2', 'TDS', 'U(ppb)']
df_clean = df.drop(columns=cols_to_drop)

# missing values
df_clean = df_clean.apply(pd.to_numeric, errors='coerce')
df_clean.fillna(df_clean.median(numeric_only=True), inplace=True)

# Create water quality labels based on parameters 
conditions = [
    (df_clean['pH'] >= 6.5) & (df_clean['pH'] <= 8.5) & (df_clean['EC'] <= 1500) & 
    (df_clean['TH'] <= 120) & (df_clean['NO3'] <= 10) & (df_clean['Na'] <= 200) &
    (df_clean['K'] <= 10) & (df_clean['F'] <= 1.5),
    (df_clean['pH'] < 6.5) | (df_clean['pH'] > 8.5) |
    (df_clean['EC'] > 1500) | (df_clean['TH'] > 120) |
    (df_clean['NO3'] > 10) | (df_clean['Na'] > 200) |
    (df_clean['K'] > 10) | (df_clean['F'] > 1.5)
]
choices = ['Good', 'Poor']
df_clean['Water_Quality'] = np.select(conditions, choices, default='Moderate')

# Water_Quality labels into numerical values
label_encoder = LabelEncoder()
df_clean['Water_Quality'] = label_encoder.fit_transform(df_clean['Water_Quality'])


X = df_clean[['LATITUDE', 'LONGITUDE']]
y = df_clean['Water_Quality']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

knn = KNeighborsClassifier(n_neighbors=5) 
knn.fit(X_train, y_train)


y_pred = knn.predict(X_test)


accuracy_knn = accuracy_score(y_test, y_pred)
classification_rep_knn = classification_report(y_test, y_pred, target_names=label_encoder.classes_)


print('Accuracy using KNN',accuracy_knn)
print(classification_rep_knn)

Accuracy using KNN 0.9156041287188829
              precision    recall  f1-score   support

        Good       0.40      0.16      0.23       128
        Poor       0.93      0.98      0.96      1519

    accuracy                           0.92      1647
   macro avg       0.66      0.57      0.59      1647
weighted avg       0.89      0.92      0.90      1647

In [ ]:
########################################  KNN cannot predict for unkown variable therfore RF is good

# Random Forest Best

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import LabelEncoder


df = pd.read_csv('../Dataset/water_quality_2021.csv')


cols_to_drop = ['Well ID', 'S.No', 'STATE', 'DISTRICT', 'BLOCK', 'LOCATION', 'Year', 'PO4', 'SiO2', 'TDS', 'U(ppb)']
df_clean = df.drop(columns=cols_to_drop)

# Handle missing values
df_clean = df_clean.apply(pd.to_numeric, errors='coerce')
df_clean.fillna(df_clean.median(numeric_only=True), inplace=True)


conditions = [
    (df_clean['pH'] >= 6.5) & (df_clean['pH'] <= 8.5) & (df_clean['EC'] <= 1500) & 
    (df_clean['TH'] <= 120) & (df_clean['NO3'] <= 10) & (df_clean['Na'] <= 200) & 
    (df_clean['K'] <= 10) & (df_clean['F'] <= 1.5),
    (df_clean['pH'] < 6.5) | (df_clean['pH'] > 8.5) |
    (df_clean['EC'] > 1500) | (df_clean['TH'] > 120) |
    (df_clean['NO3'] > 10) | (df_clean['Na'] > 200) |
    (df_clean['K'] > 10) | (df_clean['F'] > 1.5)
]
choices = ['Good', 'Poor']
df_clean['Water_Quality'] = np.select(conditions, choices, default='Moderate')


label_encoder = LabelEncoder()
df_clean['Water_Quality'] = label_encoder.fit_transform(df_clean['Water_Quality'])


X = df_clean[['LATITUDE', 'LONGITUDE']]
y = df_clean['Water_Quality']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


rf_clf = RandomForestClassifier(n_estimators=100, random_state=42)
rf_clf.fit(X_train, y_train)


y_pred_rf = rf_clf.predict(X_test)

accuracy_rf = accuracy_score(y_test, y_pred_rf)
classification_rep_rf = classification_report(y_test, y_pred_rf, target_names=label_encoder.classes_)

print('Accuracy using Random Forest:', accuracy_rf)
print(classification_rep_rf)


new_locations = pd.DataFrame({
    'LATITUDE': [27.0106],
    'LONGITUDE': [75.7583]
})
predicted_quality_rf = rf_clf.predict(new_locations)
predicted_quality_label_rf = label_encoder.inverse_transform(predicted_quality_rf)

print(f'Predicted Water Quality for new location: {predicted_quality_label_rf[0]}')

Accuracy using Random Forest: 0.914996964177292
              precision    recall  f1-score   support

        Good       0.38      0.16      0.22       128
        Poor       0.93      0.98      0.96      1519

    accuracy                           0.91      1647
   macro avg       0.66      0.57      0.59      1647
weighted avg       0.89      0.91      0.90      1647

Predicted Water Quality for new location: Poor

In [3]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8234 entries, 0 to 8233
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   LATITUDE       8234 non-null   float64
 1   LONGITUDE      8234 non-null   float64
 2   pH             8234 non-null   float64
 3   EC             8234 non-null   float64
 4   CO3            8234 non-null   float64
 5   HCO3           8234 non-null   float64
 6   Cl             8234 non-null   float64
 7   SO4            8234 non-null   float64
 8   NO3            8234 non-null   float64
 9   TH             8234 non-null   float64
 10  Ca             8234 non-null   float64
 11  Mg             8234 non-null   float64
 12  Na             8234 non-null   float64
 13  K              8234 non-null   float64
 14  F              8234 non-null   float64
 15  Water_Quality  8234 non-null   int32
dtypes: float64(15), int32(1)
memory usage: 997.2 KB

In [5]:
df_clean.to_csv('waterquality_2021.csv', index=False)

In [3]:
df_clean.head()

,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,Cl,SO4,NO3,TH,Ca,Mg,Na,K,F,Water_Quality
0,11.54500,92.74583,7.74,349.0,0.0,183.0,25.0,1.0,1.0,175.0,34.0,22.0,10.0,0.0,0.84,1
1,11.60250,92.73000,7.53,660.0,0.0,262.0,82.0,5.0,1.0,250.0,52.0,29.0,51.0,1.0,0.28,1
2,11.62083,92.73028,7.50,270.0,0.0,116.0,35.0,1.0,0.0,125.0,4.0,28.0,10.0,1.0,0.46,1
3,11.73250,92.70861,7.60,311.0,0.0,159.0,39.0,2.0,0.0,135.0,26.0,17.0,15.0,2.0,0.37,1
4,11.66361,92.65806,7.82,2501.0,0.0,512.0,560.0,56.0,5.0,465.0,56.0,79.0,336.0,18.0,0.95,1

In [4]:
df_clean.tail()

,LATITUDE,LONGITUDE,pH,EC,CO3,HCO3,Cl,SO4,NO3,TH,Ca,Mg,Na,K,F,Water_Quality
8229,21.7008,88.1125,8.53,827.0,27.0,256.0,117.0,32.0,6.0,235.0,26.0,41.0,122.0,4.2,0.00,1
8230,22.5558,88.5969,8.48,755.0,30.0,275.0,99.0,0.0,0.0,175.0,24.0,28.0,120.0,3.8,0.00,1
8231,21.8544,88.2978,8.48,856.0,30.0,262.0,131.0,0.0,0.0,170.0,14.0,33.0,135.0,4.6,0.00,1
8232,22.3856,88.4050,8.71,717.0,30.0,275.0,64.0,0.0,0.0,285.0,56.0,35.0,32.0,5.2,0.12,1
8233,22.3931,88.4189,8.74,1173.0,30.0,250.0,188.0,5.0,0.0,265.0,30.0,46.0,132.0,5.4,0.14,1

In [5]:
df_clean['Water_Quality'].unique()

array([1, 0])

In [7]:
df_clean['Water_Quality'].value_counts()

Water_Quality
1    7573
0     661
Name: count, dtype: int64

## if we have more classes (chatgpt) but very poor accuracy

In [23]:
# Define more conditions for water quality classification
conditions = [
    (df_clean['pH'] >= 6.5) & (df_clean['pH'] <= 7.5) & (df_clean['EC'] <= 1000) & (df_clean['TH'] <= 100) & 
    (df_clean['NO3'] <= 5) & (df_clean['Na'] <= 150) & (df_clean['K'] <= 5) & (df_clean['F'] <= 1.0),  # Very Good

    (df_clean['pH'] >= 6.5) & (df_clean['pH'] <= 8.5) & (df_clean['EC'] <= 1500) & (df_clean['TH'] <= 120) & 
    (df_clean['NO3'] <= 10) & (df_clean['Na'] <= 200) & (df_clean['K'] <= 10) & (df_clean['F'] <= 1.5),  # Good

    (df_clean['pH'] >= 6.0) & (df_clean['pH'] <= 9.0) & (df_clean['EC'] <= 2000) & (df_clean['TH'] <= 180) & 
    (df_clean['NO3'] <= 25) & (df_clean['Na'] <= 300) & (df_clean['K'] <= 20) & (df_clean['F'] <= 2.0),  # Moderate

    (df_clean['pH'] >= 5.5) & (df_clean['pH'] <= 9.5) & (df_clean['EC'] <= 3000) & (df_clean['TH'] <= 250) & 
    (df_clean['NO3'] <= 50) & (df_clean['Na'] <= 400) & (df_clean['K'] <= 30) & (df_clean['F'] <= 2.5),  # Poor

    (df_clean['pH'] < 5.5) | (df_clean['pH'] > 9.5) | (df_clean['EC'] > 3000) | 
    (df_clean['TH'] > 250) | (df_clean['NO3'] > 50) | (df_clean['Na'] > 400) | 
    (df_clean['K'] > 30) | (df_clean['F'] > 2.5)  # Very Poor
]

choices = ['Very Good', 'Good', 'Moderate', 'Poor', 'Very Poor']
df_clean['Water_Quality'] = np.select(conditions, choices)

In [24]:
# Convert Water_Quality labels into numerical values for model training
df_clean['Water_Quality'] = label_encoder.fit_transform(df_clean['Water_Quality'])

# Split the data into features and target label
X = df_clean[['LATITUDE', 'LONGITUDE']]  # You can include more features if available
y = df_clean['Water_Quality']

# Train-test split and model training (same as before)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
clf = KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)

# Predictions
y_pred = clf.predict(X_test)

# Evaluate
accuracy_knn = accuracy_score(y_test, y_pred)
classification_rep_knn = classification_report(y_test, y_pred, target_names=label_encoder.classes_)
print(accuracy_knn)
print(classification_rep_knn)

0.5282331511839709
              precision    recall  f1-score   support

        Good       0.30      0.26      0.28       112
    Moderate       0.28      0.44      0.34       272
        Poor       0.29      0.26      0.27       330
   Very Good       0.25      0.06      0.10        16
   Very Poor       0.76      0.69      0.73       917

    accuracy                           0.53      1647
   macro avg       0.38      0.34      0.34      1647
weighted avg       0.55      0.53      0.54      1647

In [ ]:
# Hence poor result so its better to have only two classes